*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  font-family: $font2;
  scroll-behavior: smooth;
}

h2 {
  font-family: $font1;
  font-size: 2.5rem;
  font-weight: 400;
}

button {
  font-family: $font1;
}

section {
  @include bp1 {
    height: 95vh;
  }

  &:nth-of-type(odd) {
    background-color: $bg1;
    color: $text-light;
  }

  &:nth-of-type(even) {
    background-color: $bg2;
    color: $text-dark;
  }

  & > div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 7rem 2rem;

    @include bp1 {
      padding: 8rem 3rem;
    }
  }

  @include to(700) {
    max-width: 100vw;
  }
}

.progress-bar {
  display: none;

  @include bp1 {
    position: fixed;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    mix-blend-mode: difference;
  }
}
