.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    180deg,
    rgba($color: $bg1, $alpha: 1) 0%,
    rgba($bg1, $alpha: 0.5) 70%,
    rgba($color: $bg1, $alpha: 0) 100%
  );
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem;
  width: 100vw;
  height: 6rem;
  z-index: 3;

  .logo {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }

  svg {
    display: inline-block;
    color: $text-light;
  }

  .burger {
    // position: absolute;
    // width: 2.7rem;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;

    @include bp1 {
      display: none;
    }
  }

  // .burger-open {
  //   top: 50%;
  //   right: 0;
  //   transform: translate(-50%, -50%);
  // }

  nav {
    @include to(700) {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(100%);
      width: 100vw;
      height: 100vh;
      background-color: $bg1;
      transition: transform 0.3s ease-out;

      &.active {
        transform: translateX(0);
      }

      .burger-close {
        position: absolute;
        right: 1.5rem;
        top: 3rem;
        transform: translateY(-50%);
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @include to(700) {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  li {
    font-family: $font1;
    font-size: 1.5rem;

    @include bp1 {
      font-size: clamp(1.2rem, 2.7vw, 1.5rem);
    }
  }

  a {
    color: $text-light;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    transition: text-decoration-color 0.3s ease-out;

    &:hover {
      text-decoration-color: $text-light;
    }
  }
}
