@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&family=Overlock:wght@400;700;900&family=Revalia&display=swap");

// FONTS
$font1: "Revalia";
$font2: "Overlock";
$font3: "Overlock SC";

// COLORS
$bg1: #055c81;
$bg2: #f5fcff;
$text-dark: #00364d;
$text-light: #f1f1f1;
$accent1: #fa824c;

// MIXINS
@mixin from($size) {
  @media (min-width: "#{$size}px") {
    @content;
  }
}

@mixin to($size) {
  @media (max-width: "#{$size}px") {
    @content;
  }
}

@mixin bp1 {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin bp2 {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin coarse {
  @media (pointer: coarse) {
    @content;
  }
}

@mixin fine {
  @media (pointer: fine) {
    @content;
  }
}
