.contact {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 48rem;
    margin: 3rem auto 0;

    @include bp1 {
      margin: 5rem auto 0;
    }

    .field {
      position: relative;
      display: block;
    }

    &-error {
      margin-bottom: 0.5rem;
      color: #810000;
    }
  }

  label {
    position: absolute;
    top: 1.12rem;
    left: 1rem;
    color: #ababab;
    transition: all 0.3s ease-out;
  }

  input[type="text"],
  input[type="email"] {
    position: relative;
    width: 100%;
    height: 3.5rem;
    padding: 1rem 1rem 0;
    border: 1px solid #ababab;
    border-radius: 6px;
    font-size: 1rem;
    font-family: $font2;

    &:focus {
      border: 3px solid $accent1;
    }

    &::after {
      content: attr(placeholder);
      position: absolute;
      top: 0;
      left: 0;
      background-color: red;
      z-index: 5;
    }
  }

  textarea {
    position: relative;
    width: 100%;
    padding: 1.62rem 1rem 1rem;
    resize: vertical;
    border: 1px solid #ababab;
    border-radius: 6px;
    font-size: 1rem;
    font-family: $font2;

    &:focus {
      border: 3px solid $accent1;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: transparent;
  }

  input:focus,
  input:not(:placeholder-shown),
  textarea:focus,
  textarea:not(:placeholder-shown) {
    & + label {
      top: 0.38rem;
      left: 1.1rem;
      font-size: 0.625rem;
      color: $text-dark;
    }
  }

  input[type="submit"] {
    width: 100%;
    padding: 0.75rem 0 1.25rem;
    background-color: $accent1;
    border: 3px solid $accent1;
    border-radius: 50px;
    text-align: center;
    font-family: $font1;
    font-size: 1.25rem;
    color: $text-light;
    transition: background-color 0.1s ease-out, color 0.1s ease-out, background-size 0.5s ease-out,
      transform 0.1s ease-out;
    user-select: none;

    &:hover {
      background-color: $bg2;
      background-image: linear-gradient($accent1, $accent1);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 0% 100%;
      color: $accent1;
    }

    &:active {
      transform: scale(0.98);
      background-size: 100% 100%;
      color: $bg2;
    }
  }

  .submit-message {
    position: fixed;
    left: 50%;
    top: 8rem;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 6px;
    color: $text-dark;

    &.success {
      background-color: #9cf68c;
    }

    &.error {
      background-color: #f68f8f;
    }
  }
}
