.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include bp1 {
    position: relative;
    max-width: 44rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 10rem;
  }

  @include from(1200) {
    display: grid;
    grid-template-columns: 40rem 22.5rem;
    grid-template-rows: repeat(3, max-content);
    row-gap: 3.5rem;
    column-gap: 6.5rem;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20rem;
  }

  h1 {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-weight: 400;

    span:first-of-type {
      font-family: $font3;
      font-size: clamp(2rem, 4.5vw, 4rem);

      // @include bp1 {
      //   font-size: 4rem;
      // }
    }

    span:last-of-type {
      font-family: $font2;
      font-size: clamp(1.25rem, 2.8vw, 3rem);

      // @include bp1 {
      //   font-size: 3rem;
      // }
    }
  }

  img {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    align-self: center;
    width: 15.8rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;

    @include bp1 {
      width: 22.5rem;
    }
  }

  p {
    max-width: 26rem;
    line-height: 170%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include bp1 {
      flex-direction: row;
      justify-content: center;
    }

    @include from(1200) {
      justify-content: flex-start;
    }

    button:nth-of-type(2) {
      display: none;

      @include bp1 {
        display: block;
      }
    }
  }

  .toScroll {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    cursor: pointer;

    @include bp1 {
      position: absolute;
      left: 50%;
      bottom: 10rem;
      transform: translateX(-50%);
    }

    .arrows {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    svg {
      position: absolute;
      width: 3rem;
      height: 3rem;
      animation: toScroll 2s infinite;
    }

    #firstArrow {
      top: 0;
      animation-delay: 0.3s;
    }

    #secondArrow {
      top: 1.2rem;
      z-index: 2;
    }
  }
}

@keyframes toScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
