.projects {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto 0;

    @include bp1 {
      margin: 5rem auto 0;
    }
  }

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 22.5rem;
    height: 16rem;
    background-color: green;
    border-radius: 3px;
    transition: opacity 0.3s ease-out;

    @include coarse {
      border: 1px solid $text-light;
    }

    @include fine {
      &:hover .info {
        opacity: 1;
      }
    }
  }

  .image {
    width: 100%;
    height: 100%;
    background-color: $text-light;
    background-size: cover;
    background-position: center top;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem;
    background-color: rgba($color: $bg1, $alpha: 0.7);
    opacity: 0;
    font-family: $font1;

    @include coarse {
      opacity: 1;
    }

    @include fine {
    }
  }

  .project-name {
    position: relative;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    color: $text-light;
    cursor: pointer;

    @include fine {
      &:hover {
        color: $accent1;
      }
    }
  }

  .project-desc {
    font-size: 0.8rem;
    line-height: 200%;
  }

  a {
    font-size: 0.8rem;
  }
}
