.skills {
  position: relative;
  overflow-x: hidden;

  .sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 41rem;
    margin: 2.5rem auto;
    padding: clamp(0.5rem, 1.6vw, 1rem);
    border: 2px solid $text-dark;
    border-radius: 3px;

    & > div {
      width: clamp(4.7rem, 23.5vw, 7.5rem);
      padding: 0.5rem 0;
      border-radius: 3px;
      color: $text-dark;
      font-size: clamp(0.8rem, 4vw, 1.25rem);
      font-family: $font2;
      text-align: center;
      cursor: pointer;
      z-index: 2;
      transition: all 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);

      &.active {
        color: $text-light;
      }
    }

    #activeTab {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: clamp(4.7rem, 23.5vw, 7.5rem);
      height: clamp(2rem, 8vw, 2.5rem);
      z-index: 1;
      background-color: $text-dark;
    }
  }

  .tabs {
    position: relative;
    height: 57rem;
    transition: transform 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);

    @include bp1 {
      height: 60vh;
      margin: 0 clamp(3rem, 7vw, 7.5rem);
    }
  }

  .tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    li {
      list-style-type: disc;
      margin-left: 1.5rem;
      line-height: 150%;
    }

    svg {
      align-self: center;
      transform: scale(0.75);

      @include bp1 {
        transform: none;
      }
    }
  }

  .languages {
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @include bp1 {
      gap: 5rem;
    }

    & > .row {
      display: flex;
      justify-content: space-between;
      // gap: 15rem;
    }
  }

  .technologies {
    transform: translate(calc(-50% + 150vw), -50%);

    @include bp1 {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(3, 1fr);
      column-gap: 1.5rem;
      row-gap: 3.75rem;
      align-items: center;
    }
  }

  .softwares {
    transform: translate(calc(-50% + 300vw), -50%);

    @include bp1 {
      display: grid;
      grid-template-columns: fit-content(100%) auto;
      grid-template-rows: repeat(3, auto);
      column-gap: 3.75rem;
      row-gap: 2.5rem;
      align-items: center;
    }

    .git {
      display: flex;
      justify-content: center;
      gap: 1rem;
      transform: scale(0.8);

      @include bp1 {
        flex-direction: column;
      }
    }
  }
}
