.btn {
  display: flex;
  justify-content: center;
  gap: clamp(0.4rem, 2vw, 0.9rem);
  min-width: fit-content;
  padding: calc(1rem - 2px) 2rem calc(1rem + 2px);
  border-style: solid;
  border-width: 3px;
  border-radius: 60px;
  color: $text-light;
  fill: $text-light;
  font-size: clamp(0.8rem, 5vw, 1.25rem);
  font-family: $font1;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.1s ease-out, color 0.1s ease-out, background-size 0.5s ease-out,
    transform 0.1s ease-out;
  user-select: none;

  &-primary {
    background-color: $accent1;
    border-color: $accent1;

    &:hover {
      background-color: $bg2;
      background-image: linear-gradient($accent1, $accent1);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 0% 100%;
      border-color: $accent1;
      color: $accent1;
    }
  }

  &-secondary {
    background-color: $bg1;
    border-color: $text-light;

    &:hover {
      background-color: $bg2;
      background-image: linear-gradient($bg1, $bg1);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 0% 100%;
      border-color: $bg1;
      color: $bg1;
      fill: $bg1;
    }
  }

  &:active {
    transform: scale(0.98);
    background-size: 100% 100%;
    color: $text-light;
  }
}
